* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.container {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ccc;
}


.navbar {
  background-color: #3cb371;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  border: 3px solid #ccc;

}

.section.full {
  background-color: #e74c3c;
  color: white;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  border: 3px solid #ccc;
}

.section-row {
  display: flex;
}

.section.left {
  background-color: #ffa500;
  width: 50%;
  color: white;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  border: 2px solid #ccc;

}

.section.right {
  background-color: #f4a6b8;
  width: 50%;
  color: white;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  border: 2px solid #ccc;

}

.footer {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  border: 3px solid #ccc;
}