body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

/* COMMON */
.pagination {
  display: flex;
  gap: 10px;
}

/* ALL BUTTONS */
.btn {
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ---------- ORANGE STYLE ---------- */
.pagination.orange .btn {
  background: orange;
  color: white;
  border-radius: 6px;
}

.pagination.orange .btn:hover {
  background: rgb(247, 147, 24);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* ---------- DARK STYLE ---------- */
.pagination.dark {
  background: #1f2933;
  padding: 10px;
  border-radius: 40px;
}

.pagination.dark .btn {
  background: transparent;
  color: #6ee7b7;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.pagination.dark .btn:hover {
  background: #10b981;
  color: white;
  transform: scale(1.15);
}


